.cover__text{
    width: 100%;
    min-height: 62.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#FFF;
  }

  @media screen and (min-width: 1024px) {
      .cover__text{
        max-width: 1024px;
        min-height: 640px;
        margin: 0 auto;
      }
  }
  
  @media screen and (min-width: 1184px) {
    .cover__text{
      max-width: 1184px;
      min-height: 740px;
    }
  }