.lead__subtitle{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
    max-width: 288px;
    margin: 0 auto 40px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        max-width: 640px;
        margin: 0 auto 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle{
        margin: 0 auto 64px;
    }
}