.cover{
    position: relative;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    width: 100%;
    min-height: 62.5vw;
    margin: 66px auto 0;
}

@media screen and (min-width: 768px) {
    .cover{
        margin: 90px auto 0;
    }
}

@media screen and (min-width: 1024px) {
    .cover{
        margin: 92px auto 0;
    }
}

@media screen and (min-width: 1184px) {
    .cover{
        max-width: 1184px;
        min-height: 740px;
    }
}