.intro__title{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin: 0 0 40px 0;
    max-width: 720px;
}

@media screen and (min-width: 768px) {
    .intro__title{
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title{
        max-width: 690px;
    }
}